/* .shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    margin: auto;
    width: 50%;
    text-align: center;
  }

  div h2.homeContent {
    margin: auto;
  } */

  .spotlight {
      max-width: 50%;
      margin: auto;
  }